var constants = {
  default: {
    angharad: {
      apiUrl: "http://localhost:2473/",
      prefixAngharad: "angharad/",
      prefixBenoic: "benoic/",
      prefixCarleon: "carleon/",
      prefixGareth: "gareth/"
    },
    oauth2: {
      site: "http://localhost:4593/glewlwyd/",
      clientId: "sagremor",
      responseType: "code",
      redirectUri: "http://localhost:3000/",
      profileUri: "http://localhost:4593/glewlwyd/profile/",
      scope: "angharad",
      authorizePath: "auth",
      tokenPath: "token",
    }
  },
  development: {
    angharad: {
      apiUrl: "http://localhost:2473/",
      prefixAngharad: "angharad/",
      prefixBenoic: "benoic/",
      prefixCarleon: "carleon/",
      prefixGareth: "gareth/"
    },
    oauth2: {
      site: "http://localhost:4593/glewlwyd/",
      clientId: "sagremor",
      responseType: "code",
      redirectUri: "http://localhost:3000/",
      profileUri: "http://localhost:4593/glewlwyd/profile/",
      scope: "angharad",
      authorizePath: "auth",
      tokenPath: "token",
    }
  },
  staging: {
    angharad: {
      apiUrl: "http://localhost:2473/",
      prefixAngharad: "angharad/",
      prefixBenoic: "benoic/",
      prefixCarleon: "carleon/",
      prefixGareth: "gareth/"
    },
    oauth2: {
      site: "http://localhost:4593/glewlwyd/",
      clientId: "sagremor",
      responseType: "code",
      redirectUri: "http://localhost:3000/",
      profileUri: "http://localhost:4593/glewlwyd/profile/",
      scope: "angharad",
      authorizePath: "auth",
      tokenPath: "token",
    }
  },
  prod: {
    angharad: {
      apiUrl: "http://localhost:2473/",
      prefixAngharad: "angharad/",
      prefixBenoic: "benoic/",
      prefixCarleon: "carleon/",
      prefixGareth: "gareth/"
    },
    oauth2: {
      site: "http://localhost:4593/glewlwyd/",
      clientId: "sagremor",
      responseType: "code",
      redirectUri: "http://localhost:3000/",
      profileUri: "http://localhost:4593/glewlwyd/profile/",
      scope: "angharad",
      authorizePath: "auth",
      tokenPath: "token",
    }
  }
};