<div>
	<h1 data-translate="{{serviceCtrl.title}}"></h1>
	<div data-ng-repeat="service in serviceCtrl.serviceList">

		<h3 data-translate="{{service.serviceGroup.title}}"></h3>
		<div class="row" data-ng-if="serviceCtrl.sagremorParams.adminMode">
			<div class="span6">
				<button class="btn btn-primary" type="button" data-ng-click="serviceCtrl.addService(service.serviceGroup.service)" data-translate="service_add"></button>
			</div>
		</div>
		
		<div class="row">
			<data-sag-container data-ng-repeat="element in service.list"
								data-menu="service.menu"
								data-title="element.display || element.name"
								data-type="element.type"
								data-element="element"
								data-icon="service.currentInjector.icon"
								data-ng-class="{'col-md-2': !service.size || service.size === 1, 'col-md-4': service.size === 2, 'col-md-6': service.size === 3}">
				<div data-sag-generic-injector data-type="element.type" data-elt="element"></div>
			</data-sag-container>
		</div>
	</div>
</div>
