<div class="container">
    <h1 data-translate="users_title"></h1>

	<h2 data-translate="users_user_list"></h2>
	<h4 data-ng-if="!usersCtrl.usersEnabled" data-translate="users_user_disabled"></h4>
	<button type="button" data-ng-click="usersCtrl.addUser()" class="btn btn-primary" data-translate="users_add_user" data-ng-if="usersCtrl.usersEnabled"></button>
	<table class="table table-hover" data-ng-if="usersCtrl.usersEnabled">
		<thead>
			<tr>
				<th data-translate="users_table_login"></th>
				<th data-translate="users_table_password"></th>
				<th data-translate="users_table_enabled"></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="user in usersCtrl.userList">
				<td data-ng-bind="user.login"></td>
				<td data-ng-if="!user.changePassword">***</td>
				<td data-ng-if="!!user.changePassword"><input type="password" data-ng-model="user.password" maxlength="128"></td>
				<td>
					<input type="checkbox" 
							data-bs-switch 
							class="form-control"
							data-toggle="toggle" 
							data-switch-size="mini" 
							data-ng-change="usersCtrl.enableUser(user)"
							data-ng-model="user.enabled">
				</td>
				<td>
					<button type="button" class="btn" data-ng-click="usersCtrl.displayChangePassword(user)" data-ng-if="!user.changePassword" title="{{ 'users_user_change_password' | translate }}">
						<i class="fa fa-key" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn" data-ng-click="usersCtrl.removeUser(user)" data-ng-if="!user.changePassword" title="{{ 'users_user_delete' | translate }}">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn" data-ng-click="usersCtrl.changePassword(user)" data-ng-disabled="user.password.length === 0" data-ng-if="!!user.changePassword">
						<i class="fa fa-check" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn" data-ng-click="usersCtrl.cancelChangePassword(user)" data-ng-if="!!user.changePassword">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
			<tr data-ng-if="usersCtrl.newUser">
				<td>
					<input type="text" data-ng-model="usersCtrl.user.login" maxlength="128">
				</td>
				<td>
					<input type="password" data-ng-model="usersCtrl.user.password" maxlength="128">
				</td>
				<td>
					<input type="checkbox" 
							data-bs-switch 
							class="form-control"
							data-toggle="toggle" 
							data-switch-size="mini" 
							data-ng-model="usersCtrl.user.enabled">
				</td>
				<td>
					<button type="button" class="btn" data-ng-click="usersCtrl.createNewUser()" data-ng-disabled="!usersCtrl.isNewUserValid()">
						<i class="fa fa-check" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn" data-ng-click="usersCtrl.cancelNewUser()">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<hr>
	<h2 data-translate="users_token_list"></h2>
	<div class="row control-group">
		<div class="col-xs-1 controls">
			<label for="tokenSearchLogin" data-translate="users_token_search_login"></label>
		</div>
		<div class="col-xs-2 controls">
			<input type="text" min="1" class="form-control" name="tokenSearchLogin" id="tokenSearchLogin" data-ng-model="usersCtrl.searchOptions.login" maxlength="128">
		</div>
		<div class="col-xs-1 controls">
			<label for="tokenSearchEnabled" data-translate="users_token_search_enabled"></label>
		</div>
		<div class="col-xs-2 controls">
			<select id="tokenSearchEnabled" 
					class="form-control"
					data-ng-model="usersCtrl.searchOptions.enabled">
				<option value="" data-translate="users_token_search_enabled_all"></option>
				<option value="true" data-translate="users_token_search_enabled_true"></option>
				<option value="false" data-translate="users_token_search_enabled_false"></option>
			</select>
		</div>
		<div class="col-xs-3">
			<button type="button" class="btn btn-primary pull-right" data-ng-click="usersCtrl.getTokenList()" style="margin-left: 5px; margin-bottom: 5px;">
				<i class="fa fa-search" aria-hidden="true"></i>
				<span data-translate="users_search_button"></span>
			</button>
		</div>
	</div>
	<table class="table table-hover dataTable table-striped" data-dt-options="usersCtrl.options" data-datatable="ng">
		<thead>
			<tr>
				<th data-translate="users_table_token_login"></th>
				<th data-translate="users_table_token_value"></th>
				<th data-translate="users_table_token_validity"></th>
				<th data-translate="users_table_token_lastseen"></th>
				<th data-translate="users_table_token_revoke"></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="token in usersCtrl.tokenList" data-ng-class="{ 'text-muted' : !token.enabled}">
				<td data-ng-bind="token.login"></td>
				<td data-ng-bind="usersCtrl.displayToken(token.token)"></td>
				<td data-ng-bind="token.validity | date : 'medium'" data-ng-if="token.enabled"></td>
				<td data-translate="users_token_revoked" data-ng-if="!token.enabled"></td>
				<td data-ng-bind="token.last_seen | date : 'medium'"></td>
				<td>
					<button type="button" class="btn" data-ng-click="usersCtrl.revokeToken(token)" title="{{ 'users_token_revoke' | translate }}" data-ng-disabled="!token.enabled">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
