[submodule "benoic"]
	path = benoic
	url = https://github.com/babelouest/benoic.git
[submodule "gareth"]
	path = gareth
	url = https://github.com/babelouest/gareth.git
[submodule "carleon"]
	path = carleon
	url = https://github.com/babelouest/carleon.git
