*.o
*.so
angharad
angharad.conf
valgrind.txt
config.json
*.err
*.log
angharad_submodule
angharad_script
angharad_scheduler
angharad_trigger
angharad_scheduler_trigger_exec
angharad_profile
benoic_device
benoic_device_element
benoic_monitor
carleon_service
carleon_liquidsoap
carleon_motion
carleon_mpd
gareth_alert_smtp
gareth_alert_http
gareth_filter
gareth_message
gareth_trigger
package-lock.json
*.jwks
