<div>
    <h1 data-translate="scripts_title"></h1>

    <div class="row" data-ng-if="scriptsCtrl.sagremorParams.adminMode">
		<button type="button" class="btn btn-primary" name="addScript" id="addScript" data-ng-click="scriptsCtrl.newScript()" data-translate="scripts_button_add"></button>
    </div>
    <hr>
    <div class="row">
        <div data-ng-repeat="script in scriptsCtrl.scriptList track by script.name" class="col-sm-3">
            <data-sag-container data-menu="scriptsCtrl.menuScript"
                                data-size="1"
                                data-title="script.name"
                                data-type="'script'"
                                data-element="script"
                                data-icon="'tasks'">
				<data-sag-script data-element="script"></data-sag-script>
			</data-sag-container>
        </div>
    </div>
</div>
