<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" data-translate="dimmer_update_title"></h3>
    </div>
    <div class="modal-body">
        <div class="row control-group">
            <span class="col-xs-6" data-translate="dimmer_update_name"></span>
            <div class="col-xs-6 controls">
                <input type="text" name="dimmerDisplay" id="dimmerDisplay" data-ng-model="DimmersModalCtrl.dimmer.newDisplay" class="modal-input-text form-control">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="dimmer_update_enabled"></span>
            <div class="col-xs-6 controls">
				<input type="checkbox" 
						class="form-control"
						data-bs-switch 
						data-toggle="toggle" 
						data-switch-size="mini" 
						data-ng-model="DimmersModalCtrl.dimmer.enabled">
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="dimmer_update_monitor"></span>
            <div class="col-xs-6 controls">
				<input type="checkbox" 
						class="form-control"
						data-bs-switch 
						data-toggle="toggle" 
						data-switch-size="mini" 
						data-ng-model="DimmersModalCtrl.dimmer.monitored">
            </div>
        </div>
        <div class="row control-group" data-ng-if="DimmersModalCtrl.dimmer.monitored">
            <span class="col-xs-6" data-translate="dimmer_update_monitor_every"></span>
            <div class="col-xs-6 controls">
                <select id="bddAddUserGrant"
						class="form-control"
						data-ng-model="DimmersModalCtrl.dimmer.monitored_every"
						data-ng-options="monitorEvery.value as DimmersModalCtrl.tr(monitorEvery.label) for monitorEvery in DimmersModalCtrl.monitorEveryEnum">
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="DimmersModalCtrl.saveDimmer()" data-translate="dimmer_btn_ok"></button>
        <button class="btn btn-warning" type="button" data-ng-click="DimmersModalCtrl.cancel()" data-dismiss="modal" data-translate="dimmer_btn_cancel"></button>
    </div>
</div>
