<div data-ng-if="$ctrl.element.enabled || $ctrl.adminMode">
    <div class="text-center" data-ng-class="{'text-italic': $ctrl.adminMode}">
        <div class="ring">
            <div class="quarter quarter1" 
				 data-ng-click="$ctrl.setDimmer(100)"
				 data-ng-class="{'quarter-off': $ctrl.element.value <= 75, 'quarter-almost-on': $ctrl.element.value < 100 && $ctrl.element.value > 75, 'quarter-on': $ctrl.element.value === 100}">
                <span class="quarter-value">100%</span>
            </div>
            <div class="quarter quarter2" data-ng-click="$ctrl.setDimmer(25)"
				 data-ng-class="{'quarter-off': $ctrl.element.value === 0, 'quarter-almost-on': $ctrl.element.value < 25 && $ctrl.element.value > 0, 'quarter-on': $ctrl.element.value >= 25}">
                <span class="quarter-value">25%</span>
            </div>
            <div class="quarter quarter3" data-ng-click="$ctrl.setDimmer(75)"
				 data-ng-class="{'quarter-off': $ctrl.element.value <= 50, 'quarter-almost-on': $ctrl.element.value < 75 && $ctrl.element.value > 50, 'quarter-on': $ctrl.element.value >= 75}">
                <span class="quarter-value"><br/>75%</span>
            </div>
            <div class="quarter quarter4" data-ng-click="$ctrl.setDimmer(50)"
				 data-ng-class="{'quarter-off': $ctrl.element.value <= 25, 'quarter-almost-on': $ctrl.element.value < 50 && $ctrl.element.value > 25, 'quarter-on': $ctrl.element.value >= 50}">
                <span class="quarter-value"><br/>50%</span>
            </div>
            <div class="cutout">
                <div class="ring-value" data-ng-bind="$ctrl.Dimmervalue()">
                </div>
            </div>
        </div>
		<hr class="dimmer-hr">
        <div class="clearfix input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" data-ng-click="$ctrl.addDimmer(-1)"><i class="fa fa-minus"></i></button>
			</span>
			<span class="input-group-btn">
				<button type="button" data-ng-click="$ctrl.setDimmer(0)" class="btn btn-default"><i class="fa fa-power-off" aria-hidden="true"></i></button>
			</span>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" data-ng-click="$ctrl.addDimmer(1)"><i class="fa fa-plus"></i></button>
			</span>
        </div>
    </div>
</div>
