<div class="container-fluid">
	<div class="row control-group">
		<div class="col-xs-5">
			<label for="monitorSelectDuration" data-translate="monitor_select_duration"></label>
		</div>
		<div class="col-xs-5 controls">
			<select id="monitorSelectDuration"
					class="form-control"
					data-ng-model="$ctrl.duration"
					data-ng-change="$ctrl.displayMonitor()"
					data-ng-options="duration as $ctrl.tr(duration.label) for duration in $ctrl.durationList track by duration.value">
			</select>
		</div>
	</div>
	<div class="row control-group">
		<div class="col-xs-1">
		</div>
		<div class="col-xs-2">
			<label for="monitorNewElement" data-translate="monitor_new_element"></label>
		</div>
		<div class="col-xs-3 controls">
			<select id="monitorNewElement"
					class="form-control"
					data-ng-model="$ctrl.newElement"
					data-ng-options="element.display for element in $ctrl.elementListDisplayed">
			</select>
		</div>
		<div class="col-xs-3 controls">
			<button type="button" data-ng-click="$ctrl.addElement()" class="btn btn-primary" data-ng-disabled="!$ctrl.newElementValid()" data-translate="monitor_new_element_button"></button>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-12">
			<data-nvd3 data-options="$ctrl.options" data="$ctrl.data"></data-nvd3>
		</div>
	</div>
	<div class="row text-center">
		<span data-ng-repeat="serie in $ctrl.element.elements" style="margin: 5px; color: white;">
			<button type="button" class="btn btn-primary" data-ng-click="$ctrl.removeSerie(serie)" data-ng-disabled="$ctrl.element.elements.length <= 1">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
				<span data-ng-bind="serie.display"></span>
			</button>
		</span>
	</div>
</div>
