<div>
    <h1 data-translate="events_title"></h1>

    <div class="row" data-ng-if="eventsCtrl.sagremorParams.adminMode">
		<button type="button" class="btn btn-primary" name="addEvent" id="addEvent" data-ng-click="eventsCtrl.newEvent()" data-translate="events_button_add"></button>
    </div>
    <hr data-ng-if="eventsCtrl.schedulerList.length > 0">
    <h2 data-translate="schedulers_title" data-ng-if="eventsCtrl.schedulerList.length > 0"></h2>
    <div class="row">
        <div data-ng-repeat="scheduler in eventsCtrl.schedulerList track by $index" class="col-sm-3">
            <data-sag-container data-menu="eventsCtrl.menuScheduler"
                                data-size="1"
                                data-title="scheduler.name"
                                data-type="'scheduler'"
                                data-element="scheduler"
                                data-icon="'calendar'">
				<data-sag-scheduler data-element="scheduler"></data-sag-scheduler>
			</data-sag-container>
        </div>
    </div>
    <hr data-ng-if="eventsCtrl.triggerList.length > 0">
    <h2 data-translate="triggers_title" data-ng-if="eventsCtrl.triggerList.length > 0"></h2>
    <div class="row">
        <div data-ng-repeat="trigger in eventsCtrl.triggerList track by $index" class="col-sm-3">
            <data-sag-container data-menu="eventsCtrl.menuTrigger"
                                data-size="1"
                                data-title="trigger.name"
                                data-type="'trigger'"
                                data-element="trigger"
                                data-icon="'bell'">
				<data-sag-trigger data-element="trigger"></data-sag-trigger>
			</data-sag-container>
        </div>
    </div>
</div>
