<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" data-translate="script_modal_title"></h3>
    </div>
    <div class="modal-body">
		<!-- Script name and description -->
        <div class="row control-group" data-ng-class="{'has-error': !!ScriptModalCtrl.error.message}">
            <label for="scriptName" class="col-xs-4" data-translate="script_name"></label>
            <div class="col-xs-8 controls">
                <input type="text" 
						name="scriptName" 
						id="scriptName" 
						data-ng-model="ScriptModalCtrl.script.name" 
						class="modal-input-text form-control"
						size="16" 
						maxlength="64"
						data-ng-disabled="!ScriptModalCtrl.add"
						placeholder="{{'script_name_placeholder' | translate}}">
            </div>
        </div>
        <div class="row control-group">
            <label for="scriptDecription" class="col-xs-4" data-translate="script_description"></label>
            <div class="col-xs-8 controls">
                <input type="text"
						name="scriptDecription" 
						id="scriptDecription" 
						data-ng-model="ScriptModalCtrl.script.description" 
						class="modal-input-text form-control" 
						size="16" 
						maxlength="128"
						placeholder="{{'script_description_placeholder' | translate}}">
            </div>
        </div>
        <hr>
        
        <!-- Script actions list -->
        <h4 data-translate="script_actions"></h4>
        <div data-ng-repeat="action in ScriptModalCtrl.script.actions">
			<div class="row" data-ng-if="action.submodule === 'benoic'">
				<div class="col-xs-4">
					<strong data-ng-bind="ScriptModalCtrl.getBenoicElementDisplay(action)"></strong>
				</div>
				<div class="col-xs-4">
					<strong data-ng-bind="ScriptModalCtrl.getBenoicElementValue(action)"></strong>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn" data-ng-click="ScriptModalCtrl.removeAction($index)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			<div class="row" data-ng-if="action.submodule === 'carleon'">
				<div class="col-xs-4">
					<strong data-ng-bind="ScriptModalCtrl.carleonCommand(action.command, action.parameters.service)"></strong>
				</div>
				<div class="col-xs-4">
					<div class="row" data-ng-repeat="(name, value) in action.parameters" data-ng-if="name !== 'service'">
						<strong>
							<span data-ng-bind="ScriptModalCtrl.carleonParameter(name, action.parameters.service, action.command)"></span>
							<span>:</span>
							<span data-ng-bind="value"></span>
						</strong>
					</div>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn" data-ng-click="ScriptModalCtrl.removeAction($index)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>
        </div>
        
        <!-- New action -->
		<hr>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary" data-ng-click="ScriptModalCtrl.addAction()" data-translate="script_add_action"></button>
            </div>
        </div>
        <div data-ng-if="ScriptModalCtrl.newAction">
			<hr>
			<div class="row control-group" data-ng-class="{'has-error': !ScriptModalCtrl.newActionType}">
				<label for="newActionElement" class="col-xs-4" data-translate="script_action"></label>
				<div class="col-xs-8 controls">
					<select id="newActionElement" 
							name="newActionElement" 
							class="form-control"
							data-ng-model="ScriptModalCtrl.newActionType" 
							data-ng-options="element as ScriptModalCtrl.tr(element.label) for element in ScriptModalCtrl.scriptActionElements track by element.name"
							data-ng-change="ScriptModalCtrl.changeActionType()">
					</select>
				</div>
			</div>
			<div data-ng-if="ScriptModalCtrl.newActionType.name === 'switch'">
				<div class="row control-group" data-ng-class="{'has-error': !ScriptModalCtrl.newAction.switcher.name}">
					<label for="newActionSwitch" class="col-xs-4" data-translate="script_switch_select"></label>
					<div class="col-xs-8 controls">
						<select id="newActionSwitch" 
								name="newActionSwitch" 
								class="form-control"
								data-ng-model="ScriptModalCtrl.tmpElement" 
								data-ng-change="ScriptModalCtrl.setActionBenoicElement()"
								data-ng-options="switch as switch.display for switch in ScriptModalCtrl.benoicElements.switches track by ScriptModalCtrl.trackBenoicElement(switch, 'switch')">
						</select>
					</div>
				</div>
				<div class="row">
					<label for="newActionSwitchValue" class="col-xs-4" data-translate="script_switch_value"></label>
					<div class="col-xs-8">
						<input type="checkbox"
								id="newActionSwitchValue"
								name="newActionSwitchValue"
								data-bs-switch
								data-toggle="toggle"
								data-switch-size="mini"
								data-ng-model="ScriptModalCtrl.newAction.command"
								data-ng-checked="false"
								data-ng-true-value="1"
								data-ng-false-value="0">
					</div>
				</div>
			</div>
			<div data-ng-if="ScriptModalCtrl.newActionType.name === 'dimmer'">
				<div class="row control-group" data-ng-class="{'has-error': !ScriptModalCtrl.newAction.dimmer.name}">
					<label for="newActionDimmer" class="col-xs-4" data-translate="script_dimmer_select"></label>
					<div class="col-xs-8 controls">
						<select id="newActionDimmer" 
								name="newActionDimmer" 
								class="form-control"
								data-ng-model="ScriptModalCtrl.tmpElement" 
								data-ng-change="ScriptModalCtrl.setActionBenoicElement()"
								data-ng-options="dimmer as dimmer.display for dimmer in ScriptModalCtrl.benoicElements.dimmers track by ScriptModalCtrl.trackBenoicElement(dimmer, 'dimmer')">
						</select>
					</div>
				</div>
				<div class="row">
					<label for="newActionDimmerValue" class="col-xs-4" data-translate="script_dimmer_value"></label>
					<div class="col-xs-8">
						<input id="newActionDimmerValue" class="form-control" name="newActionDimmerValue" type="number" min="0" max="100" data-ng-model="ScriptModalCtrl.newAction.command">
					</div>
				</div>
			</div>
			<div data-ng-if="ScriptModalCtrl.newActionType.name === 'heater'">
				<div class="row control-group" data-ng-class="{'has-error': !ScriptModalCtrl.newAction.heater.name}">
					<label for="newActionHeater" class="col-xs-4" data-translate="script_heater_select"></label>
					<div class="col-xs-8 controls">
						<select id="newActionHeater" 
								name="newActionHeater" 
								class="form-control"
								data-ng-model="ScriptModalCtrl.tmpElement" 
								data-ng-change="ScriptModalCtrl.setActionBenoicElement()"
								data-ng-options="heater as heater.display for heater in ScriptModalCtrl.benoicElements.heaters track by ScriptModalCtrl.trackBenoicElement(heater, 'heater')">
						</select>
					</div>
				</div>
				<div class="row">
					<label for="newActionHeaterValue" class="col-xs-4" data-translate="script_heater_command"></label>
					<div class="col-xs-8">
						<input id="newActionHeaterValue" 
								class="form-control" 
								name="newActionHeaterValue" 
								type="number" 
								min="0" 
								max="100" 
								data-ng-model="ScriptModalCtrl.newAction.command">
						<span data-ng-bind="ScriptModalCtrl.tmpElement.options.unit"></span>
					</div>
				</div>
				<div class="row control-group" data-ng-class="{'has-error': !ScriptModalCtrl.newAction.heater.mode}">
					<label for="newActionHeaterMode" class="col-xs-4" data-translate="script_heater_mode_title"></label>
					<div class="col-xs-8 controls">
						<select class="form-control" 
								id="newActionHeaterMode" 
								name="newActionHeaterMode" 
								data-ng-model="ScriptModalCtrl.newAction.parameters.mode"
								data-ng-options="mode as ScriptModalCtrl.heaterModeDisplay(mode) for mode in ScriptModalCtrl.tmpElement.availableModes">
							<option value="" data-translate="heater_mode_keep"></option>
						</select>
					</div>
				</div>
			</div>
			<div data-ng-if="ScriptModalCtrl.newActionType.submodule === 'carleon'">
				<div class="row control-group" data-ng-class="{'has-error': false}">
					<label for="newActionCarleonElement" class="col-xs-4" data-translate="script_element_select"></label>
					<div class="col-xs-8 controls">
						<select id="newActionCarleonElement" 
								name="newActionCarleonElement" 
								class="form-control"
								data-ng-model="ScriptModalCtrl.tmpElement" 
								data-ng-change="ScriptModalCtrl.setActionCarleonElement()"
								data-ng-options="element as element.name for element in ScriptModalCtrl.carleonConditionElementsList[ScriptModalCtrl.newActionType.name] track by ScriptModalCtrl.trackCarleonElement(element, ScriptModalCtrl.newActionType.name)">
						</select>
					</div>
				</div>
				<div class="row control-group" 
					data-ng-class="{'has-error': false}" 
					data-ng-repeat="parameter in ScriptModalCtrl.carleonConditionCommandsParameters[ScriptModalCtrl.newActionType.name]">
					<label for="{{ScriptModalCtrl.newActionType.name + '$' + parameter.name}}" class="col-xs-4" data-ng-bind="parameter.title"></label>
					<div class="col-xs-8 controls">
						<input type="text" class="form-control" name="{{ScriptModalCtrl.newActionType.name + '$' + parameter.name}}" id="{{ScriptModalCtrl.newActionType.name + '$' + parameter.name}}" data-ng-if="parameter.type === 'string'" data-ng-model="ScriptModalCtrl.newAction.parameters[parameter.name]">
						<input type="number" class="form-control" name="{{ScriptModalCtrl.newActionType.name + '$' + parameter.name}}" id="{{ScriptModalCtrl.newActionType.name + '$' + parameter.name}}" data-ng-if="parameter.type === 'integer'" data-ng-model="ScriptModalCtrl.newAction.parameters[parameter.name]">
						<input type="number" class="form-control" name="{{ScriptModalCtrl.newActionType.name + '$' + parameter.name}}" id="{{ScriptModalCtrl.newActionType.name + '$' + parameter.name}}" data-ng-if="parameter.type === 'real'" step=".01" data-ng-model="ScriptModalCtrl.newAction.parameters[parameter.name]">
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-6">
					<button type="button" class="btn btn-primary" data-ng-click="ScriptModalCtrl.saveNewAction()" data-translate="btn_add" data-ng-disabled="!ScriptModalCtrl.isActionValid()" data-uib-tooltip="{{ScriptModalCtrl.error.messageAction}}"></button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-primary" data-ng-click="ScriptModalCtrl.cancelAddAction()" data-translate="btn_cancel"></button>
				</div>
			</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="ScriptModalCtrl.save()" data-translate="btn_ok" data-ng-disabled="!ScriptModalCtrl.isScriptValid()" data-uib-tooltip="{{ScriptModalCtrl.error.message}}"></button>
        <button class="btn btn-warning" type="button" data-ng-click="ScriptModalCtrl.cancel()" data-dismiss="modal" data-translate="btn_cancel"></button>
    </div>
</div>
