<div class="modal-content">
    <div class="modal-carleon-mock">
        <h3 class="modal-title" data-translate="carleon_mock_modal_title"></h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <span class="col-xs-6" data-translate="carleon_mock_modal_name"></span>
            <div class="col-xs-6">
                <input type="text" 
					   name="carleonMockName" 
					   id="carleonMockName" 
					   data-ng-model="CarleonMockModalCtrl.mock.name" 
					   data-ng-disabled="!CarleonMockModalCtrl.add"
					   class="modal-input-text" 
					   size="10">
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6" data-translate="carleon_mock_modal_description"></span>
            <div class="col-xs-6">
                <input type="text" name="carleonMockDescription" id="carleonMockDescription" data-ng-model="CarleonMockModalCtrl.mock.description" class="modal-input-text" size="10">
            </div>
        </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="CarleonMockModalCtrl.save()" data-translate="btn_ok"></button>
        <button class="btn btn-warning" type="button" data-ng-click="CarleonMockModalCtrl.cancel()" data-dismiss="modal" data-translate="btn_cancel"></button>
    </div>
</div>
