
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">{{ConfirmModalCtrl.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="margin: 5px;">
            <span>{{ConfirmModalCtrl.message}}</span>
        </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="ConfirmModalCtrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" data-ng-click="ConfirmModalCtrl.cancel()">Cancel</button>
    </div>
</div>
