<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal_title" data-ng-bind="ImageModalCtrl.displayTitle()"></h3>
    </div>
    <div class="modal-body">
		<div class="row control-group">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-10">
				<img data-ng-src="{{ImageModalCtrl.src}}" alt="{{ImageModalCtrl.title}}" class="img-responsive img-thumbnail">
			</div>
			<div class="col-xs-1">
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="ImageModalCtrl.close()" data-translate="monitor_close"></button>
    </div>
</div>
