<div>
    <h1 data-translate="logs_title"></h1>

	<div class="row control-group">
		<div class="col-xs-1 controls">
			<label for="logsSearchLimit" data-translate="logs_search_limit"></label>
		</div>
		<div class="col-xs-2 controls">
			<input type="number" min="1" class="form-control" name="logsSearchLimit" id="logsSearchLimit" data-ng-model="logsCtrl.searchOptions.limit">
		</div>
		<div class="col-xs-1 controls">
			<label for="logsSearchOffset" data-translate="logs_search_offset"></label>
		</div>
		<div class="col-xs-2 controls">
			<input type="number" min="0" class="form-control" name="logsSearchOffset" id="logsSearchOffset" data-ng-model="logsCtrl.searchOptions.offset">
		</div>
		<div class="col-xs-1 controls">
			<label for="logsSearchFilter" data-translate="logs_search_filter"></label>
		</div>
		<div class="col-xs-2 controls">
			<select id="logsSearchFilter" 
					class="form-control"
					data-ng-model="logsCtrl.searchOptions.filter"
					data-ng-options="filter.name for filter in logsCtrl.filterList"
					data-ng-disabled="logsCtrl.filterList.length === 0">
				<option value=""></option>
			</select>
		</div>
		<div class="col-xs-3">
			<button type="button" class="btn btn-primary pull-right" data-ng-click="logsCtrl.search()" style="margin-left: 5px; margin-bottom: 5px;">
				<i class="fa fa-search" aria-hidden="true"></i>
				<span data-translate="logs_search_button"></span>
			</button>
			<button type="button" class="btn btn-primary pull-right" data-ng-click="logsCtrl.filterManagement()" style="margin-left: 5px; margin-bottom: 5px;">
				<i class="fa fa-filter" aria-hidden="true"></i>
				<span data-translate="logs_filter_button"></span>
			</button>
		</div>
	</div>
	<hr>
	<table data-datatable="ng" data-dt-options="logsCtrl.options" class="table table-hover table-striped table-bordered dataTable">
		<thead>
			<tr>
				<th data-translate="logs_table_date"></th>
				<th data-translate="logs_table_priority"></th>
				<th data-translate="logs_table_source"></th>
				<th data-translate="logs_table_text"></th>
				<th data-translate="logs_table_tags"></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="message in logsCtrl.messageList">
				<td>{{message.date | date : 'medium'}}</td>
				<td>{{logsCtrl.getPriority(message)}}</td>
				<td>{{message.source}}</td>
				<td>{{message.text}}</td>
				<td><span data-ng-repeat="tag in message.tags">{{tag}}</span></td>
			</tr>
		</tbody>
	</table>
</div>
