<div class="col-xs-6 controls">
  <label data-translate="top_right_menu_login"         data-ng-if="responseType !== 'password' && show=='logged-out'"></label>
  <label data-translate="top_right_menu_logout"        data-ng-if="show=='logged-in'"></label>
  <label data-translate="top_right_menu_access_denied" data-ng-if="responseType !== 'password' && show=='denied'"></label>
</div>
<div class="col-xs-6 controls">
  <button type="button" class="btn btn-primary btn-sm" data-ng-if="responseType !== 'password' && show=='logged-out' || show=='denied'" data-ng-click="login()">
    <i class="fa fa-sign-in" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-primary btn-sm" data-ng-if="show=='logged-in'" data-ng-click="logout()">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
  </button>
</div>
<div class="col-xs-12">
  <div data-ng-show="responseType === 'password' && show !== 'logged-in'">
    <form>
      <div>
        <label>Login</label>
        <input type="text" data-ng-model="typedLogin" placeholder="login" >
      </div>
      <div>
        <label>Password</label>
        <input type="password" data-ng-model="typedPassword" placeholder="password" >
      </div>
      <div>
        <label>Keep connection</label>
        <input type="checkbox" data-ng-model="typedKeepConnection" >
      </div>
      <input type="submit" class="btn btn-primary btn-sm" value="Submit" data-ng-click="checkPassword()">
    </form>
  </div>
</div>
