<div>
    <h1 data-translate="switches_title"></h1>
    
    <h2 data-translate="switch_title"></h2>
    <div class="row">
        <div data-ng-repeat="switcher in switchesCtrl.switchList" class="col-sm-3" data-ng-if="switcher.enabled || switchesCtrl.sagremorParams.adminMode">
            <data-sag-container data-menu="switchesCtrl.menuSwitcher"
                                data-size="1"
                                data-title="switcher.display"
                                data-type="'switch'"
                                data-element="switcher"
                                data-icon="'toggle-on'">
				<data-sag-switch data-element="switcher"></data-sag-switch>
			</data-sag-container>
        </div>
    </div>
    
    <h2 data-translate="dimmer_title"></h2>
    <div class="row">
        <div data-ng-repeat="dimmer in switchesCtrl.dimmerList" class="col-sm-3" data-ng-if="dimmer.enabled || switchesCtrl.sagremorParams.adminMode">
            <data-sag-container data-menu="switchesCtrl.menuDimmer"
                                data-size="1"
                                data-title="dimmer.display"
                                data-type="'dimmer'"
                                data-element="dimmer"
                                data-icon="'lightbulb-o'">
                <data-sag-dimmer data-element="dimmer"></data-sag-dimmer>
            </data-sag-container>
        </div>
    </div>
</div>
