<div class="modal-content">
    <div class="modal-carleon-liquidsoap">
        <h3 class="modal-title" data-translate="carleon_liquidsoap_modal_title"></h3>
    </div>
    <div class="modal-body">
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_modal_name"></span>
            <div class="col-xs-6 controls">
                <input type="text" 
					   name="carleonLiquidsoapName" 
					   id="carleonLiquidsoapName" 
					   class="modal-input-text form-control"
					   data-ng-model="carleonLiquidsoapModalCtrl.element.name" 
					   data-ng-disabled="!carleonLiquidsoapModalCtrl.add"
					   size="10"
					   maxlength="64">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_modal_description"></span>
            <div class="col-xs-6 controls">
                <input type="text" 
						name="carleonLiquidsoapDescription" 
						id="carleonLiquidsoapDescription" 
						class="modal-input-text form-control"
						data-ng-model="carleonLiquidsoapModalCtrl.element.description" 
						size="10"
						maxlength="128">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_radio_url"></span>
            <div class="col-xs-6 controls">
                <input type="text" 
						name="carleonLiquidsoapRadioUrl" 
						id="carleonLiquidsoapRadioUrl" 
						class="modal-input-text form-control"
						data-ng-model="carleonLiquidsoapModalCtrl.element.radio_url" 
						size="10"
						maxlength="512">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_radio_type"></span>
            <div class="col-xs-6 controls">
                <input type="text" 
						name="carleonLiquidsoapRadioType" 
						id="carleonLiquidsoapRadioType" 
						class="modal-input-text form-control"
						data-ng-model="carleonLiquidsoapModalCtrl.element.radio_type" 
						size="10"
						maxlength="64">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_control_enabled"></span>
            <div class="col-xs-6 controls">
                <input class="form-control" id="carleonLiquidsoapControlEnabled" name="carleonLiquidsoapControlEnabled" data-toggle="toggle" data-bs-switch data-switch-size="mini" type="checkbox" data-ng-model="carleonLiquidsoapModalCtrl.element.control_enabled">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_control_host"></span>
            <div class="col-xs-6 controls">
                <input type="text" 
						name="carleonLiquidsoapControlHost" 
						id="carleonLiquidsoapControlHost" 
						class="modal-input-text form-control"
						data-ng-model="carleonLiquidsoapModalCtrl.element.control_host" 
						size="10"
						maxlength="128"
						data-ng-disabled="!carleonLiquidsoapModalCtrl.element.control_enabled">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_control_port"></span>
            <div class="col-xs-6 controls">
                <input type="number" 
						name="carleonLiquidsoapControlPort" 
						id="carleonLiquidsoapControlPort" 
						class="modal-input-text form-control"
						data-ng-model="carleonLiquidsoapModalCtrl.element.control_port" 
						size="10"
						step="1"
						data-ng-disabled="!carleonLiquidsoapModalCtrl.element.control_enabled">
            </div>
        </div>
        <div class="row control-group">
            <span class="col-xs-6" data-translate="carleon_liquidsoap_control_request_name"></span>
            <div class="col-xs-6 controls">
                <input type="text" 
						name="carleonLiquidsoapControlRequestName" 
						id="carleonLiquidsoapControlRequestName" 
						class="modal-input-text form-control"
						data-ng-model="carleonLiquidsoapModalCtrl.element.control_request_name" 
						size="10"
						maxlength="128"
						data-ng-disabled="!carleonLiquidsoapModalCtrl.element.control_enabled">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="carleonLiquidsoapModalCtrl.save()" data-translate="btn_ok" data-ng-disabled="!carleonLiquidsoapModalCtrl.isLiquidsoapValid()"></button>
        <button class="btn btn-warning" type="button" data-ng-click="carleonLiquidsoapModalCtrl.cancel()" data-dismiss="modal" data-translate="btn_cancel"></button>
    </div>
</div>
